services:
  gotreasa-berlin-clock:
    container_name: gotreasa-berlin-clock
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - .:/src
    environment:
      NODE_ENV: production
    ports:
      - 9080:9080
    restart: always
